

.Container {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    background-image: url('../../../public/foods/bg5.jpg');
    background-size: cover;
}

.details{
    border: 1rem;
    border-color: black;
    width: 30rem;
    font-weight: bold;
}
.details form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1rem;
    margin: 0 0 2rem 0;
}

.login{
    display:flex;
    justify-content: center;
    align-items: center;
}


.register{
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
