.k {
    display: flex;
    flex-direction: column; /* Arra/* Divide into two rows with equal space in between */
    height: 80vh;
    
    
}

.bg {
    color: wheat;
    background-image: url('../../../public/foods/homeCake2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about {
    color: rgb(248, 247, 247);
    display: flex;
    font-size: 1.5rem;
    flex-wrap:wrap;
    padding: 1%;
    font-style: italic;
    justify-content: start;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
}
.About{
    color: rgb(250, 250, 243);
    display: flex;
    font-size: 1.2rem;
    margin: 1%;
    text-align: center;
}

.p {
    color: rgb(245, 250, 202);
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    text-align: justify;
    width: 60%;
    justify-content: start;
}

.include{
    color: rgb(248, 255, 182);
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 40rem;
    justify-content: center;
}

.button{
    display: flex;
    width: 6rem;
    height: 1.5rem;
    margin: 1rem;
    border-radius: 3rem;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    border-width: 0.2rem;
    border-color: brown;
    background-color: rgb(204, 140, 22);
    text-align: center;
}
button:hover{
    background-color: crimson;
    cursor: pointer;
}

.circle{
    /*height: 100vh;
    width: 700px;
    background-color: #555;
    border-radius: 300px;  
    display: inline-block;
    overflow: hidden;
    flex-wrap: wrap;
    left: 1000px;
    position: fixed;*/
    position: absolute;
    right: 0;
    top:0;
    width: 30%; /* Adjust the width as needed */
    height: 100%;
    background:radial-gradient(orange 0, rgb(243, 89, 115) 10%,crimson 30%,rgb(88, 12, 12) 70%); /* Background color of the half circle */
    border-top-left-radius: 50vw; /* This creates the left half of the circle */
    border-top-right-radius: 0;
    border-bottom-left-radius: 50vw; /* This ensures the right side is straight */
    border-bottom-right-radius:0; 
    overflow: hidden;
    float: right;
    


}
.image2{
    margin: 9rem 1rem 0 1rem;
}

.info{
    height: 300px;
    color: black;
    width: 100%;
}

.cont1{
    float: left;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.cont11{
    height: 50%;
    font-size: 2rem;
}
.cont12{
    height: 50%;
    font-size: 1rem;
}
.cont2{
    float: right;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.cont21{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.cont22{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.cont221{
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: 1rem;
}

.cont211{
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: 1rem;
}
.cont212{
    float: right;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: 1rem;
}

.A{
    height: 50%;
}
.B{
    height: 50%;
    font-size: 0.5rem;
    
}

.title{
    position: relative;
    display: flex;
    align-content: center;
    padding-bottom: 0%;
    padding-top: 5%;
    margin-top: 0%;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    height: 100%;
}


.title::before{
    content: "MD";
    background-color: crimson;
    color: white;
    margin: 1% 0 0% 0;
    font-size: 1.7rem;
}

.image{
    width: 40%;
    height: 90%;
    margin: 5% 0 0 15%;
    align-items: center;
}

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    align-items: center;
}
.detail{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    background-color: aqua;
    align-items: center;
}
.socialMedia{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    background-color: rgb(168, 108, 108);
}
.col1{
    position: relative;
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 30%;
    background-color: blue;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    height: 30%;
    width: 100%;
    align-content: center;
}
.log{
    height: 50%;
    position: relative;
    flex-direction: row;
    display: flex;
    width: 70%;
}


.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(244, 245, 226);
    height: 70%;
    width: 100%;
    align-items: center;
}
.col2{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(14, 100, 57);
    height: 100%;
    width: 70%;
}
.row1{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color:rgb(243, 240, 242);
    height: 50%;
    width: 100%;
}
.col11{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 247, 247);
    width: 50%;
    height: 100%;
}
.col22{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 50%;
    height: 100%;
}
.row2{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color:rgb(237, 241, 214);
    height: 50%;
    width: 100%;
}

.icon1{
    display: block;
    width: 20%;
    height: 50%;
    padding: 0.5%;
    margin: 10% 0 0 5%;
}
.icons{
    display: block;
    width: 60%;
    height: 50%;
    padding: 0.5%;
    margin: 1%;
}
.description{
    color: rgb(240, 33, 78);
    height: 50%;
    font-size: 0.7rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    font-style: italic;
    padding: 1%;

}
.description1{
    color: rgb(240, 33, 78);
    height: 50%;
    font-size: 0.7rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    font-style: italic;
    padding: 1%;
    margin-top: 10%;

}
.description1 p{
    color: black;
}

.table{
    margin-left: 10%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.data {
    text-align: left;
    width: 10%;
    align-items: center;
    margin-left: 20%;
}

.Links{
    background-color: crimson;
    color: white;
    text-align: center;
    width: 58%;
    height: 90%;
    margin: 1% 1% 1% 1%;
    font-size: 0.8rem;
    align-content: center;
}
.Account{
    background-color: rgb(219, 125, 2);
    color: white;
    text-align: center;
    width: 58%;
    height: 90%;
    margin: 1% 1% 1% 1%;
    font-size: 0.8rem;
    text-wrap:wrap;
}
li{
    list-style-type: none;
    margin: 0.5%;
}
.socialCol1{
    width: 50%;
    height: 100%;
    margin-left: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.icon{
    display: block;
    width: 7%;
    height: 80%;
    padding: 0.5%;
    margin: 1%;
}
.socialCol2{
    width: 50%;
    height: 100%;
    margin-left: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 5%;
}



@media only screen and (min-width: 992px) {
    /* Laptop (lg) */
    .bg{
        flex:2;
        justify-items: start;
       }
       .about{
        justify-content: start;
        width: 100%;
        margin-left: 3%;
       }
       .topic{
        margin-left: 5%;
        justify-content: center;
       }
       .button{
        margin-left: 50%;
    
       }
}

@media only screen and (max-width: 991px) {
    /* Tablet (md) */
    .bg{
        flex:2;
        justify-items: start;
       }
       .about{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        margin-left: 3%;
        font-size: 1.2rem;
       }
       .p {
        padding: 1%;
        margin: 0;
        display: flex;
        font-size: 0.8rem;
        width: 60%;
        justify-content: start;
       }
       .include{
        font-size: 0.8rem;
       }
       .topic{
        margin-left: 5%;
        justify-content: start;
       }
       .button{
        margin-left: 50%;
    
       }
}


@media only screen and (max-width: 767px) {
   .bg{
    flex: 1;
    justify-content: center;
   }
   .circle{
    display: none;
   }
   .about{
    padding: 5%;
    display: flex;
    width: 100%;
   }
   .p {
    padding: 1%;
    margin: 0;
    display: flex;
    font-size: 0.8rem;
    width: 100%;
   }
   .include {
    padding: 1%;
    margin: 0;
    display: flex;
    font-size: 0.8rem;
    width: 100%;
   }
   .button{
    margin-left: 50%;
   }

}



