.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    margin: 3rem;
}
.container > *{
    min-width: 25rem;
    max-width: 40rem;
}

.image{
    border-radius: 3rem;
    flex:1 0;
    object-fit: cover;
    height: 35rem;
    margin: 1rem;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 2rem;

}
.header{
    display: flex;
    justify-content: space-between;
}

.name{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0 0  0.5rem 0;

}
.heartIcon{
    height: 20px;
    width: 20px;
    margin-top: 5%;
}
.favourit{
    height: 20px;
    width: 20px;
    margin-top: 5%;
    
}

.price{
    color: green;
    font-size: 1.6rem;
    margin: 10rem 2rem 5rem 0;
}

.price::before{
    content: 'Price ';
    color: grey;
}

.container button{
    color: wheat;
    background-color: crimson;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
    margin: 1rem 0 0 0;
}
.container button :hover{
    opacity: 0.9;
    cursor: pointer;
}
